In [2]:
import pandas as pd
import numpy as np

lst1 = np.random.randint(80,100, size=(10,5))
name = ['同学' + str(i) for i in range(10)]
col = ['语文', '数学', '英语', '物理', '化学']
df = pd.DataFrame(lst1, columns=col, index=name)
df.to_excel('test.xlsx')

In [38]:
import random
l1 = [''.join(random.sample(string.ascii_letters,6)) + str(i) for i in range(20)]
# np.random.choice(l1, size=(1,10))
df = pd.read_excel('test.xlsx')
df['地理'] = np.random.randint(80,100, size=(1,10)).tolist()[0]
df['随机'] = np.random.choice(l1, size=(1,10)).tolist()[0]  
df.rename(columns={"Unnamed: 0":'名字'}, inplace=True) # 修改列名
df.insert(0, '随机1', np.random.choice(l1, size=(1,10)).tolist()[0])  # 在第0列增加 列名为 随机1，的一列随机数据


# df.to_excel('text1.xlsx', index=False)

        随机1   名字  语文  数学  英语  物理  化学  地理        随机
0  jpyEPY18  同学0  92  82  91  98  83  95   xwfRBG5
1  GKNzBU10  同学1  89  87  88  99  97  90  syRCcw14
2   zwdQGC7  同学2  80  85  80  85  86  90  fIoLKe15
3   yuDSNH6  同学3  86  91  80  90  86  98  jpyEPY18
4  syRCcw14  同学4  88  85  90  86  90  81   bTkveL3
5   uPoLns0  同学5  89  96  85  98  85  99  QgtSuY16
6  JjeQhW19  同学6  87  93  88  95  85  90  JjeQhW19
7   evKZhQ8  同学7  93  90  90  86  84  80   zwdQGC7
8  dFtxqz12  同学8  85  85  96  93  82  91  dFtxqz12
9   bTkveL3  同学9  92  82  91  85  85  88  fIoLKe15

In [41]:
df1 = df[df['数学'] < 90 ]  # 筛选出数学列小于90的全部数据
df1

        随机1   名字  语文  数学  英语  物理  化学  地理        随机
0  jpyEPY18  同学0  92  82  91  98  83  95   xwfRBG5
1  GKNzBU10  同学1  89  87  88  99  97  90  syRCcw14
2   zwdQGC7  同学2  80  85  80  85  86  90  fIoLKe15
4  syRCcw14  同学4  88  85  90  86  90  81   bTkveL3
8  dFtxqz12  同学8  85  85  96  93  82  91  dFtxqz12
9   bTkveL3  同学9  92  82  91  85  85  88  fIoLKe15

In [57]:
df2 = df[~ df['随机1'].str.contains('z')]  # 删除 随机1 包含z的全部数据
print(df2)
df3 = df[df['随机1'].str.contains('z')] # 查看包含z的行 head(1): 显示2行
df3

        随机1   名字  语文  数学  英语  物理  化学  地理        随机
0  jpyEPY18  同学0  92  82  91  98  83  95   xwfRBG5
3   yuDSNH6  同学3  86  91  80  90  86  98  jpyEPY18
4  syRCcw14  同学4  88  85  90  86  90  81   bTkveL3
5   uPoLns0  同学5  89  96  85  98  85  99  QgtSuY16
6  JjeQhW19  同学6  87  93  88  95  85  90  JjeQhW19
7   evKZhQ8  同学7  93  90  90  86  84  80   zwdQGC7
9   bTkveL3  同学9  92  82  91  85  85  88  fIoLKe15

        随机1   名字  语文  数学  英语  物理  化学  地理        随机
1  GKNzBU10  同学1  89  87  88  99  97  90  syRCcw14
2   zwdQGC7  同学2  80  85  80  85  86  90  fIoLKe15
8  dFtxqz12  同学8  85  85  96  93  82  91  dFtxqz12

In [90]:
df4= df3[['名字','语文','数学',	'英语',	'物理',	'化学',	'地理',	'随机','随机1']]  # 调整列的顺序
df4
# df5 = df4.replace(90, 'haha',inplace=True)   #将df4中90换成haha
# df5= df4.replace('haha', 90,inplace=True) 
# print(df5)

    名字  语文  数学  英语  物理  化学  地理        随机       随机1
1  同学1  89  87  88  99  97  90  syRCcw14  GKNzBU10
2  同学2  80  85  80  85  86  90  fIoLKe15   zwdQGC7
8  同学8  85  85  96  93  82  91  dFtxqz12  dFtxqz12

In [103]:
'''
Author: xzhouinfo
Date: 2022-01-24 16:41:05
LastEditors: hyman
LastEditTime: 2022-01-25 22:40:26
Description: 各种demo
'''
# l3 = df4['随机1'].values.tolist()  # 将随机1的值换成列表
def replace_col_str(pd_data_frame,col_name,old_obj,new_obj):
    if isinstance()
    obj_list = pd_data_frame[col_name].values.tolist()
    for index, val in enumerate(obj_list):
        if old_obj in val:
            obj_list[index] = val.replace(old_obj, new_obj)
    pd_data_frame[col_name] = obj_list
    return pd_data_frame

print(replace_col_str(df4,'地理', 90, 80))
# df4

TypeError: argument of type 'int' is not iterable

In [85]:
np.random.randint(80,100,size=(1,10)).tolist()[0] # 生成列表随机列表1个，10个元素。

[99, 83, 87, 85, 94, 85, 97, 88, 80, 92]

In [3]:
import string
np.random.choice([i for i in string.ascii_letters], size=(3,5))

array([['r', 'N', 'I', 'K', 'P'],
       ['h', 'X', 'K', 'F', 'B'],
       ['J', 'l', 'A', 'R', 'D']], dtype='<U1')

In [27]:
import random
l1 = [''.join(random.sample(string.ascii_letters,6)) + str(i) for i in range(20)]
np.random.choice(l1, size=(1,10))

array([['mvJpdL3', 'xOumla8', 'rtOenR5', 'lpCekF19', 'ebHson9',
        'ebHson9', 'ebHson9', 'mvJpdL3', 'zwZnJc10', 'MlpdKa18']],
      dtype='<U8')

In [20]:
random.sample(string.ascii_letters,6)

['r', 'L', 'f', 'A', 'I', 'D']