In [2]:
import pandas as pd
import numpy as np

lst1 = np.random.randint(80,100, size=(10,5))
name = ['同学' + str(i) for i in range(10)]
col = ['语文', '数学', '英语', '物理', '化学']
df = pd.DataFrame(lst1, columns=col, index=name)
df.to_excel('test.xlsx')

In [4]:
import string
import random
l1 = [''.join(random.sample(string.ascii_letters,6)) + str(i) for i in range(20)]
# np.random.choice(l1, size=(1,10))
df = pd.read_excel('test.xlsx')
df['地理'] = np.random.randint(80,100, size=(1,10)).tolist()[0]
df['随机'] = np.random.choice(l1, size=(1,10)).tolist()[0]  
df.rename(columns={"Unnamed: 0":'名字'}, inplace=True) # 修改列名
df.insert(0, '随机1', np.random.choice(l1, size=(1,10)).tolist()[0])  # 在第0列增加 列名为 随机1，的一列随机数据


# df.to_excel('text1.xlsx', index=False)

In [9]:
df1 = df[(df['数学'] < 90) & (df['地理'] > 80)]  # 筛选出数学列小于90 地理大于80的数据的全部数据
df1

        随机1   名字  语文  数学  英语  物理  化学  地理        随机
0   QUKTHs4  同学0  84  87  84  89  97  90  wGPJLm17
1  bomYcU15  同学1  91  86  90  85  97  87  LHamPZ19
2   upAVxX8  同学2  93  88  80  88  94  93  ROXDrI13
4   ALpTMU3  同学4  98  83  92  98  82  97   KMfVdS0
6   NQZrkS1  同学6  83  85  97  98  85  92  uEBsbD11
8  cXfEWD18  同学8  87  89  89  80  87  89   UtgzQD2
9  uEBsbD11  同学9  83  81  84  96  86  92   upAVxX8

In [10]:
df2 = df[~ df['随机1'].str.contains('z')]  # 删除 随机1 包含z的全部数据
print(df2)
df3 = df[df['随机1'].str.contains('z')] # 查看包含z的行 head(1): 显示2行
df3

        随机1   名字  语文  数学  英语  物理  化学  地理        随机
0   QUKTHs4  同学0  84  87  84  89  97  90  wGPJLm17
1  bomYcU15  同学1  91  86  90  85  97  87  LHamPZ19
2   upAVxX8  同学2  93  88  80  88  94  93  ROXDrI13
4   ALpTMU3  同学4  98  83  92  98  82  97   KMfVdS0
5   upAVxX8  同学5  94  97  91  86  98  88   vIOKyR9
6   NQZrkS1  同学6  83  85  97  98  85  92  uEBsbD11
8  cXfEWD18  同学8  87  89  89  80  87  89   UtgzQD2
9  uEBsbD11  同学9  83  81  84  96  86  92   upAVxX8

       随机1   名字  语文  数学  英语  物理  化学  地理        随机
3  UtgzQD2  同学3  87  97  98  83  98  88  ROXDrI13
7  zMdjOh7  同学7  87  91  85  94  92  90  LHamPZ19

In [11]:
df4= df3[['名字','语文','数学',	'英语',	'物理',	'化学',	'地理',	'随机','随机1']]  # 调整列的顺序
df4
# df5 = df4.replace(90, 'haha',inplace=True)   #将df4中90换成haha
# df5= df4.replace('haha', 90,inplace=True) 
# print(df5)

    名字  语文  数学  英语  物理  化学  地理        随机      随机1
3  同学3  87  97  98  83  98  88  ROXDrI13  UtgzQD2
7  同学7  87  91  85  94  92  90  LHamPZ19  zMdjOh7

In [12]:
'''
Author: xzhouinfo
Date: 2022-01-24 16:41:05
LastEditors: hyman
LastEditTime: 2022-01-25 22:40:26
Description: 各种demo
'''
# l3 = df4['随机1'].values.tolist()  # 将随机1的值换成列表
def replace_col_str(pd_data_frame,col_name,old_obj,new_obj):
    # if isinstance()
    obj_list = pd_data_frame[col_name].values.tolist()
    for index, val in enumerate(obj_list):
        if old_obj in val:
            obj_list[index] = val.replace(old_obj, new_obj)
    pd_data_frame[col_name] = obj_list
    return pd_data_frame

print(replace_col_str(df4,'地理', 90, 80))
# df4

TypeError: argument of type 'int' is not iterable

In [85]:
np.random.randint(80,100,size=(1,10)).tolist()[0] # 生成列表随机列表1个，10个元素。

[99, 83, 87, 85, 94, 85, 97, 88, 80, 92]

In [3]:
import string
np.random.choice([i for i in string.ascii_letters], size=(3,5))

array([['r', 'N', 'I', 'K', 'P'],
       ['h', 'X', 'K', 'F', 'B'],
       ['J', 'l', 'A', 'R', 'D']], dtype='<U1')

In [27]:
import random
l1 = [''.join(random.sample(string.ascii_letters,6)) + str(i) for i in range(20)]
np.random.choice(l1, size=(1,10))

array([['mvJpdL3', 'xOumla8', 'rtOenR5', 'lpCekF19', 'ebHson9',
        'ebHson9', 'ebHson9', 'mvJpdL3', 'zwZnJc10', 'MlpdKa18']],
      dtype='<U8')

In [20]:
random.sample(string.ascii_letters,6)

['r', 'L', 'f', 'A', 'I', 'D']